# Group By, Having & Count


This can help you answer questions like:

How many of each kind of fruit has our store sold?
How many species of animal has the vet office treated?

In [2]:
from google.cloud import bigquery

client = bigquery.Client(project="sqlbigquery7711")

dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

dataset = client.get_dataset(dataset_ref)

In [3]:
tables = list(client.list_tables(dataset))

for table in tables:
    print (table.table_id)

full

In [4]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,True,None,<NA>,1437239977,2015-07-18 17:19:37+00:00,story,9908144,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1437243699,2015-07-18 18:21:39+00:00,story,9908379,<NA>,<NA>,<NA>,<NA>
2,None,None,None,<NA>,None,<NA>,1437244469,2015-07-18 18:34:29+00:00,story,9908416,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437244659,2015-07-18 18:37:39+00:00,story,9908429,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437245389,2015-07-18 18:49:49+00:00,story,9908468,<NA>,<NA>,<NA>,<NA>

In [ ]:
query = """

        
        """

query_job = client.query(query)

df_query = query_job.to_dataframe()